/* line 1, custom.scss */
.leftImge {
  position: absolute;
  overflow: hidden;
}

/* line 6, custom.scss */
#newsOne {
  margin-left: -100px;
  margin-top: 20px;
}

/* line 11, custom.scss */
#newsTwo {
  margin-left: 300px;
  margin-top: -126px;
  z-index: -10;
}

/* line 17, custom.scss */
#newsThree {
  margin-top: 224px;
  margin-left: 22px;
}

/* line 22, custom.scss */
#newsFour {
  margin-top: 233px;
  margin-left: 331px;
}
