.leftImge{
position:absolute;
overflow:hidden;	
}

#newsOne{
margin-left: -100px;
margin-top: 20px;
}

#newsTwo{
margin-left: 300px;
margin-top: -126px;
z-index: -10;	
}

#newsThree{
margin-top: 224px;	
margin-left: 22px;
}

#newsFour{
margin-top: 233px;
margin-left: 331px;
}