.leftImge{
position:absolute;	
}

#newsOne{
margin-left: -100px;
margin-top: 20px;
}

#newsTwo{
margin-left: 300px;
margin-top: -123px;
z-index: -10;	
}

#newsThree{
margin-top: 222px;	
}

#newsFour{
margin-top: 233px;
margin-left: 331px;
}